<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListFlavors</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.ListFlavors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flavor</servlet-name>
        <jsp-file>/FlavorView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.Server</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerLaunch</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.ServerLaunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlavorAdd</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.FlavorAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutservlet</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.Logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageAddServlet</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.ImageAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VMController</servlet-name>
        <servlet-class>controller.VMController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerConsole</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.ServerConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRoleAdd</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.ServletRoleAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCourseAdd</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.ServletCourseAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesActions</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.CoursesActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsActions</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.StudentsActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesActions</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.RolesActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TEST3</servlet-name>
        <servlet-class>tn.isetrades.test10.servlet.TEST3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListFlavors</servlet-name>
        <url-pattern>/ListFlavors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flavor</servlet-name>
        <url-pattern>/Flavor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server</servlet-name>
        <url-pattern>/Server</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerLaunch</servlet-name>
        <url-pattern>/ServerLaunch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlavorAdd</servlet-name>
        <url-pattern>/FlavorAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutservlet</servlet-name>
        <url-pattern>/Logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageAddServlet</servlet-name>
        <url-pattern>/ImageAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VMController</servlet-name>
        <url-pattern>/VMController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerConsole</servlet-name>
        <url-pattern>/ServerConsole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRoleAdd</servlet-name>
        <url-pattern>/ServletRoleAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCourseAdd</servlet-name>
        <url-pattern>/ServletCourseAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesActions</servlet-name>
        <url-pattern>/CoursesActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsActions</servlet-name>
        <url-pattern>/StudentsActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesActions</servlet-name>
        <url-pattern>/RolesActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TEST3</servlet-name>
        <url-pattern>/TEST3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
